.fitnessCard {
    text-align: center;
    background-color: blueviolet;
    /* width: 18rem */
}

#exercise0, #exercise1, #exercise2, #exercise3, #exercise4, #exercise5, #exercise6 {
    text-align: center;
}