.weightFitnessCard, .cardioFitnessCard {
    text-align: center;
    /* background-color: blueviolet; */
    /* width: 18rem */
}

.imgCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.weightInput, .cardioInput {
    text-align:center;
}

.updateBtn, .deleteBtn {
   width:25%
}